#controlHeader ($action $customField.id $customField.Name $fieldLayoutItem.required $displayParameters.noHeader)

<input class="text long-field" type="text" name="$customField.id" id="txtControl">

#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)